aside {
	flex: 1;
	background-color: rgb(0, 59, 101);
	color: lightblue;
	padding: 1em;
}
.tipHeader {
	height: 100%;
}
.tipList {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
}
.tip {
	font-size: 12px;
}
